<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Virtman</title>
    <style>
    body {
      background-color: #222;
      color: white;
    }
    </style>
  </head>
  
  <body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Virtman</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href="/manager/home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/manager/listing">Listing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/manager/viewStats">Stats</a>
    </li>
  </ul>
  
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
        <a class="btn btn-primary" href="/manager/toggleAdvancedMode">Toggle user Mode</a>
    </li>
    {% if user.is_authenticated %}
    <li class="navbar-text">
      {{user.get_username}}
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/accounts/logout">Logout</a>
    </li>
    {% else %}
        <a class="nav-link" href="/accounts/login">Login</a>
    {% endif %}
  </ul>
  </nav>
	<div id="content" name="content" class="main">
		<div class="row justify-content-center">
			<div class="col-11">
				<h1 class="mt-2">Virtman</h1>
        {% if user.profile.advanced_mode == False %}
        <h4 align="right" class="mt-2">Simple Mode</h4>
				{% else %}
        <h4 align="right" class="mt-2">Advanced Mode</h4>
        {% endif %}
        <hr class="mt-0 mb-4">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</html>