{% extends "base.html" %}

{% block content %}

<a href="/manager/add">Add</a>

{% if VM_list %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">CPU</th>
      <th scope="col">RAM</th>
      <th scope="col">Hypervisor</th>
    </tr>
  </thead>
  <tbody>
    {% for vm in VM_list %}
        <tr>    
        <th scope="row">{{ forloop.counter}}</th>
        <td>{{vm.name}}</td>
        <td>{{vm.cpus}}</td>
        <td>{{vm.ram}}</td>
        <td>{{vm.hypervisor}}</td>
        <td><a href="/manager/{{ vm.id }}/edit">Edit</a>  <a href="/manager/{{ vm.id }}/delete">Delete</a>  <a href="/manager/{{ vm.id }}/startVM">Start</a> <a href="/manager/{{ vm.id }}/stopVM">Stop</a> <a href="/manager/{{ vm.id }}/viewStats">View Stats</a></td>
        </tr>
    {% endfor %}
    
  </tbody>
</table>
{% else %}
There are no VMs available
{% endif %}
<a href="/manager/createDisk">Create Storage Disk</a>
<a href="/manager/uploadISO">Choose ISO</a>
<a href="/manager/viewStats">View Host Statistics</a>
{% endblock content %}