{% extends "base.html" %}

{% block content %}

<br>Disk read requests: {{disk_stats.0}}, Bytes read {{disk_stats.1}}, Write requests sent {{disk_stats.2}}, Bytes Written {{disk_stats.3}}, Number of errors: {{disk_stats.4}}
<br>Memory used: {{memory_stats}}
<br>Network stats: Read bytes: {{network_stats.0}} Read Packets: {{network_stats.1}} Read errors: {{network_stats.2}} Read drops: {{network_stats.3}} Write bytes: {{network_stats.4}} Write packets {{network_stats.5}} Write errors: {{network_stats.6}} Write drops: {{network_stats.7}}

<br><br>
<meta http-equiv="refresh" content="5">
This pages automatically refreshes after 5 seconds

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
<canvas id="chart" style="width: 40%; height: 25vh"></canvas>

<script>
let ctx = document.getElementById("chart").getContext("2d");

let chart = new Chart(ctx, {
    reponsive: true,
    type: "bar",
    data: {
        labels: ["CPU Usage","Memory Usage"],
        datasets: [
            {
            label: "Usage",
            backgroundColor: "#79AEC8",
            borderColor: "#417690",
            data: [{{cpu_stats}},{{memory_usage}}]
        }
    ]
  },
  options: {
     title: {
        text: "Utilization (%)",
        display: true
     },
     scales: {
        yAxes: [{
            ticks: {
                min : 0,
                max: 100
            }
        }]
    }
  }
});
</script>

{% endblock content %}
